.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.selected-nominees {
  margin-top: 0;
}

.selected-nominees p {
  font-size: 16px;
  margin-bottom: 10px;
}

.selected-nominees ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-nominees li {
  font-size: 14px;
  margin-bottom: 5px;
}
